*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
scripts
node_modules
scripts/serviceAccountKey.json
scripts/setAdminClaim.js
findit_mobile.git
# Firebase Functions
/functions/node_modules/
/functions/.firebase/
/functions/lib/
/functions/package-lock.json